<div class="bg-gray-100 card">
  <div class="container space-2-top space-3-top--lg">
    <!-- Title -->
    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
      <div class="mb-5">
        <span class="u-label u-label--sm u-label--purple mb-3">Contact Us</span>
        <h1 class="h1">KMJ Bus</h1>
        <p class="lead">Kami adalah pelayanan jasa yang bergerak di bidang pelayanan perjalanan wisata kota maupun luar kota. </p>
        <p class="lead">Lihat tentang kami yang berawal dari sebuah perusahaan kecil yang bersaing dengan perusahaan besar dan kami segenap hati memberikan pelayanan yang baik untuk kenyamanan customer.</p>
        <p class="lead">Contact Person : 0899976557</p>
        <p class="lead">Email : Bus@kmj.com</p>
        <p class="lead">Pendiri : Salahudin</p>
      </div>
    </div>
    <!-- End Title -->

    <!-- SVG Mockup -->
    <div class="w-lg-80 mx-auto">
    	<img src="/uploads/bus/img_bus/info-img.jpg" class="w-100">
    </div>
    <!-- End SVG Mockup -->
  </div>
</div>
<!-- End Mockup Section -->